#%RAML 1.0
version: v1
title: emp-onboard
description: employee-onboarding-sapi
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/e84f806a-dd0a-4646-be3e-e4a8f750ebbe/emp-sapi/v1 # baseUri: https://localhost:8081/emp-sapi/v1
/add-employee:
  post:
    body:
      application/json:
        example:
              {
               "empid":200,
                "empname": "Mani",
                 "status": "A"
              }
    responses:
      200:
        body:
          application/json:
            example:
                {
                  "status":200,
                  "message": "success"
                }
      500:
        body:
          application/json:
            example:
              {
                "status":500,
                "message": "Internal server error"
              }
/update-employee:
  description:  To update employee status
  post:
    body:
      application/xml:
        example:
          <?xml version="1.0" encoding="UTF-8"?>
            <emp>
              <empid>100</empid>
              <empname>A</empstatus>
            </emp>
    responses:
      200:
        body:
          application/xml:
            example:
              <?xml version="1.0" encoding="UTF-8"?>
               <response>
                 <status>200</status>
                 <message>success</message>
               </response>
      500:
        body:
          application/xml:
            example:
              <?xml version="1.0" encoding="UTF-8"?>
               <response>
                 <status>500</status>
                 <message>Internalserver error</message>
               </response>
/fetch-employee:
  get:
    queryParameters:
      empid:
        required: true
        type: integer
        example: 2233
      status:
        required: false
        type: string
        example: "A"
    responses:
      200:
        body:
          application/json:
            example:
             { 
              "empid":100,
              "empname":"kiran",
              "status":"A"
              }
      404:
        body:
          application/json:
            example:
             { 
              "status": 404,
              "message":"No employee found"
            }
/delete-employee/{empid}:
  get:
    responses:
      200:
        body:
          application/json:
            example:
             { 
              "empid":100,
              "empname":"kiran",
              "status":"A"
              }
      404:
        body:
          application/json:
            example:
             { 
              "status": 404,
              "message":"No employee found"
            }
      

